* {
  outline: 1px solid rgba(255, 0, 0, 0.5);
}

.iconos {
  background-color: blue;
  display: inline-block;
  text-align: center;
}

.principal {
  width: 50px;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
}

p {
  font-size: 40px;
}

.social {
  background-color: blue;
  display: inline-block;
  text-align: center;
}

.filen {
  display: block;
  width: 900px;
}

.principal {
  width: 97%;
}

.contenido {
  margin-top: 5px;
}

.peque {
  padding-left: 80px;
  padding-right: 50px;
}

.primero {
  width: 500px;
}

.segundo {
  margin-top: 30px;
  width: 500px;
}

ul li {
  list-style-type: none;
}

.descrip {
  position: absolute;
  top: 450px;
  color: #FFFFFF;
  font-size: 30px;
  margin-left: 10px;
  margin-right: 40px;
}

.notas {
  position: absolute;
  top: 150px;
  color: #FFFFFF;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 40px;
}

.notas2 {
  position: absolute;
  top: 480px;
  color: #FFFFFF;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 40px;
}

.rojo {
  background-color: red;
  text-align: center;
  margin: 5px 490px;
  color: #FFFFFF;
}

.juntos {
  display: inline-block;
  width: 290px;
}

.bordex {
  padding: 0px;
}

.notas3 {
  position: absolute;
  bottom: 400px;
  color: #FFFFFF;
  font-size: 15px;
  margin-left: 4px;
  margin-right: 300px;
}

.notas4 {
  position: absolute;
  bottom: 350px;
  color: #FFFFFF;
  font-size: 15px;
  margin-left: 4px;
  margin-right: 3px;
}

.balon {
  position: absolute;
  bottom: 50px;
  color: #FFFFFF;
}

h5 {
  color: #FA5858;
  text-align: center;
}

.smoll {
  margin: 15px;
}

.blog {
  border: 1px solid #dfdfdf;
  height: 250px;
  width: 95%;
  margin: auto;
}

.textoblog {
  height: 50%;
}

.celeste {
  background-color: #dfdfdf;
  height: 40%;
  width: 90%;
  margin: auto;
  margin-bottom: 1%;
}

.blog-avatar {
  border: 1px solid #FFFFFF;
  margin-top: 3%;
  margin-left: 3%;
  width: 25%;
}

.mt-3 {
  margin-top: 3%;
}

.ml-3 {
  margin-left: 3%;
}

.iconos {
  padding: 30px;
  max-width: 50px;
}

.banner {
  background-color: #F4F5F7;
}

.image-banner {
  margin-top: 10px;
  max-width: 100%;
}

.head-text {
  margin-top: 10px;
  margin-left: 75px;
  font-size: 10px;
}

.head-text a {
  color: #9A9A9B;
}

.head-text i {
  margin-right: 8px;
  font-size: 12px;
}

.head-text .fa-facebook {
  color: #316AA4;
}

.head-text .fa-twitter {
  color: #4BB7D9;
}

.head-text .fa-google-plus {
  color: #DD4A4A;
}

.head-text .fa-envelope {
  color: #FFC006;
}

.head-text .fa-rss {
  color: #FBAF63;
}

.head-text .col-md-4 {
  margin-left: 80px;
}

.head-text button {
  background-color: #F4F5F7;
  border: solid #F4F5F7;
  border-left: solid #dfdfdf;
  border-right: solid #dfdfdf;
  color: #9A9A9B;
}

#sub {
  background-color: #DD4A4A;
  color: #FFFFFF;
  margin-right: 10px;
  border-radius: 5px;
}

.menu {
  padding-left: 5px;
}

.head-logo {
  margin-top: 40px;
}

.futbol {
  border: 1px solid #F4F5F7;
  border-bottom: 2px solid #941010;
  padding: 5px;
}

.tit-fut {
  background-color: #941010;
  color: #FFFFFF;
  width: 100px;
  margin-top: -50px;
  z-index: 1;
  position: relative;
}
