doctype html
html(lang='es-PE')
	head
		meta(charset='UTF-8')
		title Blogs
		link(href='http://fonts.googleapis.com/css?family=PT+Sans:400,700', rel='stylesheet', type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Oswald:400,700', rel='stylesheet', type='text/css')
		link(rel='stylesheet', type='text/css', href='assets/css/dist/font-awesome.min.css')
		link(rel='stylesheet', type='text/css', href='assets/css/dist/bootstrap.min.css')
		link(rel='stylesheet', type='text/css', href='assets/css/dist/slick.css')
		link(rel='stylesheet', type='text/css', href='assets/css/dist/slick-theme.css')
		link(rel='stylesheet', type='text/css', href='assets/css/main.css')
		script(src='http://code.jquery.com/jquery-1.11.2.min.js')
		script(src='http://code.jquery.com/jquery-migrate-1.2.1.min.js')
		script(type='text/javascript', src='js/bootstrap.min.js')
		script(type='text/javascript', src='js/slick.min.js')
		script(type='text/javascript', src='js/bootstrap-hover-dropdown.min.js')
		script(type='text/javascript', src='js/modernizr.custom.68172.js')
		script(type='text/javascript', src='js/respond.js')

	body
	.container
		.row
			.col-md-12
				h1 BLOGS
				h4 LO ULTIMO EN BLOGS
		.row
			.col-md-4
				.blog
					.textoblog
						p.text-center.mt-3 Lunes,14 de Julio de 2015
						h3.text-center El gol de la muerte
					.celeste
						img.img-responsive.pull-left.blog-avatar(src="assets/image/blog_avatar_01.jpg")
						.ml-3.mt-3.pull-left
							p BLOG
							P.strong LIBROS
			.col-md-4
				.blog
					.textoblog
						p.text-center.mt-3 Lunes,14 de Julio de 2015
						h3.text-center 	Dios ha muerto...tengo las manos cubiertas de sangre
					.celeste 
						img.img-responsive.pull-left.blog-avatar(src="assets/image/blog_avatar_02.jpg")
						.ml-3.mt-3.pull-left
							p.mg-3 BLOG
							P.strong.mg-3 Ya lo pasado, PASADO
			.col-md-4
				.blog
					.textoblog
						p.text-center.mt-3 Lunes,14 de Julio de 2015
						h3.text-center ¿Cuál es tu queso favorito?
					.celeste 
						img.img-responsive.pull-left.blog-avatar(src="assets/image/blog_avatar_03.jpg")
						.ml-3.mt-3.pull-left
							p.mg-3 BLOG
							P.strong.mg-3 Décimas cosas


