doctype html
html(lang='es-PE')
  head
    meta(charset='UTF-8')
    title Home
    link(href='http://fonts.googleapis.com/css?family=PT+Sans:400,700', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Oswald:400,700', rel='stylesheet', type='text/css')
    link(rel='stylesheet', type='text/css', href='assets/css/dist/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='assets/css/dist/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='assets/css/dist/slick.css')
    link(rel='stylesheet', type='text/css', href='assets/css/dist/slick-theme.css')
    link(rel='stylesheet', type='text/css', href='assets/css/main.css')
    script(src='http://code.jquery.com/jquery-1.11.2.min.js')
    script(src='http://code.jquery.com/jquery-migrate-1.2.1.min.js')
    script(type='text/javascript', src='js/bootstrap.min.js')
    script(type='text/javascript', src='js/slick.min.js')
    script(type='text/javascript', src='js/bootstrap-hover-dropdown.min.js')
    script(type='text/javascript', src='js/modernizr.custom.68172.js')
    script(type='text/javascript', src='js/respond.js')
  body
    .container-fluid.banner
        .container
            .row.image-banner
                center
                    img.img-responsive(src="assets/image/banner_top.jpg")
            .row.head-text
                .col-md-6
                    ul.list-inline.list-unstyled
                        li
                            a(href="#")
                                strong LIBERO.PE
                        li
                            a(href="#") 
                                strong ELPOPULAR.PE
                        li
                            a(href="#") 
                                strong FUNDACIÓN GUSTAVO MOHME LLONA
                .col-md-4
                        button#sub SUSCRIBETE AL BOLETÍN 
                        i.fa.fa-facebook
                        i.fa.fa-twitter
                        i.fa.fa-google-plus
                        i.fa.fa-envelope
                        i.fa.fa-rss
                        button BUSCAR
                            i.fa.fa-search
    .container
        .row.head-logo
            .col-md-4
                img(src="assets/image/logo-la-republica.jpg")
            .col-md-4
                center
                    .futbol
                        small.text-center HABLA LA LIDEREZA DEL NACIONALISMO
                center
                    .tit-fut
                        small.text-center DOMINGO
            .col-md-4
                .editorial
                    img.pull-left(src="assets/image/img_editorial_text.jpg")
                    small La corrupción, los origenes<br>
                    em por: Gustavo Mohme LLona
                    img.pull-right(src="assets/image/img_author.jpg")
        .row.menu
            ul.list-unstyled.list-inline
                li 
                    a(href="#") POLÍTICA
                li 
                    a(href="#") ECONOMÍA
                li 
                    a(href="#") SOCIEDAD
                li 
                    a(href="#") ELEC.REGIONALES
                li 
                    a(href="#") DEPORTES
                li 
                    a(href="#") CHAMPION L..
                li 
                    a(href="#") ESPECTÁCULOS
                li 
                    a(href="#") ED.IMPRESA
                li 
                    a(href="#") REGIONALES
                li.dropdown
                    a.dropdown-toggle(href='#') MÁS SECCIONES 
                    span.caret
    .container-fluid
        .row
            .col-md-2
                img(src="assets/image/bann1.png")
            .col-md-8
                .temas 
                        nav
                          ul.pagination
                            li
                              a(href='#') TEMA DEL DÍA
                            li
                              a(href='#', aria-label='Previous')
                                span(aria-hidden='true') «
                            li
                              a(href='#') Globos de oro
                            li
                              a(href='#') Youtube
                            li
                              a(href='#') PNP
                            li
                              a(href='#') Charlie Hebdo
                            li
                              a(href='#') FC Barcelona
                            li
                              a(href='#') Universitario
                            li
                              a(href='#') Balon de Oro
                            li
                              a(href='#') Universitario
                            li
                              a(href='#', aria-label='Next')
                                span(aria-hidden='true') »


