doctype html
html(lang='es-PE')
  head
    meta(charset='UTF-8')
    title Home
    link(href='http://fonts.googleapis.com/css?family=PT+Sans:400,700', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Oswald:400,700', rel='stylesheet', type='text/css')
    link(rel='stylesheet', type='text/css', href='assets/css/dist/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='assets/css/dist/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='assets/css/dist/slick.css')
    link(rel='stylesheet', type='text/css', href='assets/css/dist/slick-theme.css')
    link(rel='stylesheet', type='text/css', href='assets/css/main.css')
    script(src='http://code.jquery.com/jquery-1.11.2.min.js')
    script(src='http://code.jquery.com/jquery-migrate-1.2.1.min.js')
    script(type='text/javascript', src='js/bootstrap.min.js')
    script(type='text/javascript', src='js/slick.min.js')
    script(type='text/javascript', src='js/bootstrap-hover-dropdown.min.js')
    script(type='text/javascript', src='js/modernizr.custom.68172.js')
    script(type='text/javascript', src='js/respond.js')
  body
    #header

    #home
        .container
            p Guerra en la Municipalidad de Lima Metropolitana
            ul 
                li.social
                    i.fa.fa-facebook
                    i.fa.fa-twitter
                    i.fa.fa-google-plus
                    i.fa.fa-circle Hace 2 minutos
                    i.fa.fa-circle Politicas
            .row.contenido
                .col-md-6 
                    img.principal(src="assets/image/img_grid_principal.jpg") 
                    .descrip JNE impulsara campaña en favor de la aprobacion de la reforma electoral
                
                .col-md-6

                        ul 
                            li
                                img.primero(src="assets/image/img_grid_secundario.jpg")
                                .notas Martin Belaunde Lossio:empresas vinculadas al empresariado contarataron por s/. 3000 millones !FOTOS 

                            li
                                img.segundo(src="assets/image/img_especiales.jpg" width="100%")
                                .notas2 Sub 20:Perú vs Paraguay:bicolor empató 1-1 y paso al hexagonal final del Sudamericano  !VIDEO
            .row
                .rojo COLUMNISTAS
            .row
                .col-md-9
                    .row
                        .col-md.4
                            ul.bordex
                                li.juntos 
                                    h5 mercado de pases 2015
                                    img(src="assets/image/img_especiales.jpg" width="100%")
                                    .notas3 mercado de pases 2015: altas bajas y rumores de los equipos peruanos 
                                    .smoll todo sobre mercado de pases 2015
                                 li.juntos
                                    h5 regimen laboral juvenil
                                    img(src="assets/image/img_especiales_aside.jpg" width="100%")
                                    .notas4 ollanta humala: los que han perdido mas alla de tambores y panderetas , son 2 millones de jovenes VIDEO
                                    .smoll todo sobre el regimen juvenil
                        .col-md.5
                            ul.bordex

                                li.juntos
                                    h5 champion league 
                                    img(src="assets/image/champion.jpg" width="100%")
                                    .balon ¿podra real madrid conseguir la undecima?
                                    .smoll todo sobre Champion league

                                li.juntos 
                                    h5 super bowl
                                    img(src="assets/image/dorado.jpg" width="100%")
                                    .balon  super bowl xllv: englands patriots se consagro campeon la NFL al ganar 28-24 a Seahwan VIDEO
                                    .smoll todo sobre super bowl
                .col-md-3
                    .img-thumbnail 
                        img(src="assets/image/banner-aside-home.jpg" width="100%"  alt="8%")





                       

               












            //- .row 
                .col-md-6      
                img(src="assets/image/img_grid_principal.jpg")
                .col-md-6
                 img(src="assets/image/img_grid_secundario.jpg")
                 img(src="assets/image/img_especiales.jpg")
           







































    #noticias


    #footer

